@model ControldeCambios.Models.AprobarSolicitudCambioModelo
@{
    ViewBag.Title = "Aprobar Solicitud de Cambio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script>
    i = 1;

    function update_output1() {
        var values = $(".multitextbox2")
                  .map(function(){return $(this).val();}).get().filter(v=>v!='').join("|");
        $("#output2").val(values);
    }

    function delete_all(button) {
        $("#" + button.id).remove();
        update_output1();
    }

    function add_textbox() {
        $("#textboxes").append("<div class='row'><div id='textbox" + i + "'><div class='col-md-10'><textarea class='multitextbox form-control multitextbox" + i + "' disabled="+'"disabled"'+" cols='30' rows='2' style='border-radius:4px'></textarea></div></div></div>")
        var tbid = "multitextbox" + i;
        i++
        return tbid;
    }
    function add_textbox1() {
        $("#textboxes1").append("<div class='row'><div id='textbox" + i + "'><div class='col-md-10'><textarea class='multitextbox2 form-control multitextbox-" + i + "' oninput=update_output1() cols='30' rows='2' style='border-radius:4px'></textarea></div> <div class='col-md-1'><button onclick='delete_all(this)' class='btn' id='textbox" + i + "'><span class='glyphicon glyphicon-minus' aria-hidden='true'></span></button></div> <br/> <br/> <br />  </div></div>")
        var tbid = "multitextbox-" + i;
        i++
        return tbid;
    }

    function load_all() {
        var inputs = $("#output").val().split("|");
        for (var j = 0; j < inputs.length; j++) {
            if(j != 0) {
                var tbid = add_textbox();
                $("." + tbid).val(inputs[j]);
            } else {
                var tbid = "multitextbox0";
                $("." + tbid).val(inputs[j]);
            }
        }
        if ($("#output2").val()) {
            var inputs1 = $("#output2").val().split("|");
            for (var j = 0; j < inputs.length; j++) {
                if (j != 0) {
                    var tbid = add_textbox1();
                    $("." + tbid).val(inputs1[j]);
                } else {
                    var tbid = "multitextbox-0";
                    $("." + tbid).val(inputs1[j]);
                }
            }
        }
    }

</script>

<div data-step="1" data-intro="En esta pantalla se puede aceptar o rechazar una solicitud de cambios">
    <h2>Gestión de Requerimientos</h2>
    <h4>@ViewBag.Title</h4>
</div>

@{ int ayudasActuales = 2; }

<hr />
@using (Html.BeginForm("Aprobar", "Solicitud_Cambios", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.proyecto)

    @*Se utilizan paneles para poder dividir la pantalla en secciones
        y acomodar los campos en secciones*@

    //***PRIMER ROW***
    <div class="row">
        
        @*DATOS DE REQUERIMIENTO 1*@
        @if (Model.tipo == "Modificar")
        {
            @Html.Raw("<div class='col-xs-12 col-sm-6'>")
        }
        else
        {
            @Html.Raw("<div class='col-xs-12 col-sm-12'>")
        }
        <div class="panel panel-info" data-step=@ayudasActuales data-intro="Aquí se puede ver la información del requerimiento en la versión anterior">
            @{ ayudasActuales++; }
            <div class="panel-heading"><label>Datos del Requerimiento Anterior</label></div>
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(m => m.proyecto, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.DisplayFor(m => m.proyecto, new { @class = "form-control" })
                        @Html.HiddenFor(m => m.proyecto)
                        @Html.ValidationMessageFor(model => model.proyecto, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group" disabled>
                    @Html.LabelFor(m => m.codigo1, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.codigo1, new { @class = "form-control", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.codigo1, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.nombre1, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.nombre1, new { @class = "form-control", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.nombre1, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.descripcion1, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextAreaFor(m => m.descripcion1, new { @class = "form-control", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.descripcion1, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.criteriosAceptacion1, new { @class = "col-md-4 control-label" })
                    @Html.HiddenFor(m => m.criteriosAceptacion1, new { @id = "output", @disabled = "disabled" })
                    <div class="col-md-8" style="margin-bottom:25px">
                        <div id="textboxes">
                            <div class='row'><div id='textbox0'><div class='col-md-10'><textarea class='multitextbox form-control multitextbox0' disabled="disabled" oninput=update_output() cols='30' rows='2' style='border-radius:4px'></textarea></div> <div class='col-md-1'></div> <br /> <br /> <br />  </div></div>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.criteriosAceptacion1, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.Label("Imagen", new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @if (Model.file1 != "")
                        {
                            <label class="" style="cursor:pointer">
                                <img id="myImg" src="data:image/png;base64,@Html.DisplayFor(m => m.file1)" width="100px" data-toggle="modal" data-target="#myModal" class="imagen" />
                            </label>
                        }
                        else
                        {
                            @Html.Raw("No hay imagen")
                        }
                        @Html.HiddenFor(m => m.file1)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.observaciones1, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextAreaFor(m => m.observaciones1, new { @class = "form-control", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.observaciones1, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Disponibles", new { @class = "col-md-offset-2 col-md-2 control-label", @style = "text-align:center;margin-left:135px;" })
                    @Html.Label("Responsables", new { @class = "col-md-offset-2  col-md-2 control-label", @style = "text-align:center;margin-left:100px;margin-bottom:10px" })
                    <div class="col-md-offset-2 col-md-10" style="margin-bottom:25px">
                        @Html.ListBoxFor(m => m.equipo1, new MultiSelectList(ViewBag.DesarrolladoresDisp, "cedula", "nombre"), new { id = "list2", Multiple = "multiple", Size = 15, style = "width: 100%;", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.equipo1, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        @Html.Raw("</div>")

        @*DATOS DE REQUERIMIENTO 2*@
        @if (Model.tipo == "Modificar")
        {
            <div class='col-xs-12 col-sm-6' data-step=@ayudasActuales data-intro="Aquí se puede ver la información del requerimiento en la versión propuesta. Cualquier cambio que se desee hacer sobre la solicitud, se puede hacer.">
                @{ ayudasActuales++; }
                <div class="panel panel-info">
                    <div class="panel-heading"><label>Datos del Requerimiento Solicitado</label></div>
                    <div class="panel-body">
                        <div class="form-group">
                            @Html.LabelFor(m => m.proyecto, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.DisplayFor(m => m.proyecto, new { @class = "form-control" })
                                @Html.HiddenFor(m => m.proyecto)
                                @Html.ValidationMessageFor(model => model.proyecto, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.codigo2, new { @class = "col-md-4 control-label required" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.codigo2, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.codigo2, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.nombre2, new { @class = "col-md-4 control-label required" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.nombre2, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.nombre2, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.descripcion2, new { @class = "col-md-4 control-label required" })
                            <div class="col-md-8">
                                @Html.TextAreaFor(m => m.descripcion2, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.descripcion2, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.criteriosAceptacion2, new { @class = "col-md-4 control-label required" })
                            @Html.HiddenFor(m => m.criteriosAceptacion2, new { @id = "output2" })
                            <div class="col-md-8" style="margin-bottom:25px">
                                <button type="button" onclick="add_textbox1()" class="btn" style="border-radius:4px"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Nuevo Criterio de Aceptación</button>
                                <br />
                                <br />
                                <div id="textboxes1">
                                    <div class='row'><div id='textbox1'><div class='col-md-10'><textarea class='multitextbox2 form-control multitextbox-0' oninput=update_output2() cols='30' rows='2' style='border-radius:4px'></textarea></div> <div class='col-md-1'></div> <br /> <br /> <br />  </div></div>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(m => m.criteriosAceptacion2, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.Label("Imagen", new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @if (Model.file2 != "")
                                {
                                    <label class="" style="cursor:pointer">
                                        <img id="myImg" src="data:image/png;base64,@Html.DisplayFor(m => m.file2)" width="100px" data-toggle="modal" data-target="#myModal2" class="imagen myImageContainer" />
                                    </label>
                                }
                                <label class="" style="cursor:pointer">
                                    <input id="imageInput" value="@Html.DisplayFor(m => m.file2)" class="btn btn-default btn-file" type="file" name="ImageData" accept="image/*" />
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.observaciones2, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.TextAreaFor(m => m.observaciones2, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.observaciones2, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Disponibles", new { @class = "col-md-offset-2 col-md-2 control-label", @style = "text-align:center;margin-left:135px;" })
                            @Html.Label("Responsables", new { @class = "col-md-offset-2  col-md-2 control-label", @style = "text-align:center;margin-left:100px;margin-bottom:10px" })
                            <div class="col-md-offset-2 col-md-10" style="margin-bottom:25px">
                                @Html.ListBoxFor(m => m.equipo2, new MultiSelectList(ViewBag.DesarrolladoresDisp, "cedula", "nombre"), new { id = "list3", Multiple = "multiple", Size = 15, style = "width: 100%;" })
                                @Html.ValidationMessageFor(model => model.equipo2, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    //***SEGUNDO ROW***
    <div class="row">
        @*DATOS DE ESTIMACION 1*@
        @if (Model.tipo == "Modificar")
        {
            @Html.Raw("<div class='col-xs-12 col-sm-6'>")
        }
        else
        {
            @Html.Raw("<div class='col-xs-12 col-sm-12'>")
        }
            <div class="panel panel-info">
                <div class="panel-heading"><label>Datos de Estimación del Requerimiento Anterior</label></div>
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.prioridad1, new { @class = "col-md-4 control-label", @disabled = "disabled" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.prioridad1, new { @class = "form-control", @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.prioridad1, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.esfuerzo1, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.esfuerzo1, new { @class = "form-control", @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.esfuerzo1, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.fechaInicial1, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.fechaInicial1, new { @class = "form-control", @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.fechaInicial1, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.fechaFinal1, new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.fechaFinal1, new { @class = "form-control", @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.fechaFinal1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        @Html.Raw("</div>")

        @*DATOS DE ESTIMACION 2*@
        @if (Model.tipo == "Modificar")
        {
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-info">
                    <div class="panel-heading"><label>Datos de Estimación del Requerimiento Solicitado</label></div>
                    <div class="panel-body">
                        <div class="form-group">
                            @Html.LabelFor(m => m.prioridad2, new { @class = "col-md-4 control-label required" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.prioridad2, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.prioridad2, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.esfuerzo2, new { @class = "col-md-4 control-label required" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.esfuerzo2, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.esfuerzo2, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.fechaInicial2, new { @class = "col-md-4 control-label required" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.fechaInicial2, new { @class = "form-control datePicker" })
                                @Html.ValidationMessageFor(model => model.fechaInicial2, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.fechaFinal2, new { @class = "col-md-4 control-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.fechaFinal2, new { @class = "form-control datePicker" })
                                @Html.ValidationMessageFor(model => model.fechaFinal2, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    //***TERCER ROW***
    <div class="row">
        @*DATOS GENERALES 1*@
        @if (Model.tipo == "Modificar")
        {
            @Html.Raw("<div class='col-xs-12 col-sm-6'>")
        }
        else
        {
            @Html.Raw("<div class='col-xs-12 col-sm-12'>")
        }
            <div class="panel panel-info">
                <div class="panel-heading"><label>Datos Generales del Requerimiento Anterior</label></div>
                <div class="panel-body">

                    <div class="form-group">
                        @Html.Label("Estado", new { @class = "col-md-4 control-label required" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.estado1, new { @class = "form-control", @disabled="disabled" })
                            @Html.ValidationMessageFor(model => model.estado1, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Solicitado Por", new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.solicitadoPor1, new { @class = "form-control", @disabled="disabled" })
                            @Html.ValidationMessageFor(model => model.solicitadoPor1, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Creado Por", new { @class = "col-md-4 control-label" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.creadoPor1, new { @class = "form-control", @disabled="disabled" })
                            @Html.ValidationMessageFor(model => model.creadoPor1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        @Html.Raw("</div>")

        @*DATOS GENERALES 2*@
        @if (Model.tipo == "Modificar")
        {
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-info">
                    <div class="panel-heading"><label>Datos Generales del Requerimiento Solicitado</label></div>
                    <div class="panel-body">

                        <div class="form-group">
                            @Html.Label("Estado", new { @class = "col-md-4 control-label required" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(m => m.estado2, (SelectList)ViewBag.Estados, "Seleccionar Estado ", new { @class = "col-xs-12 form-control", @style = "height:30px;border-radius:4px" })
                                @Html.ValidationMessageFor(model => model.estado2, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Solicitado Por", new { @class = "col-md-4 control-label required" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(m => m.solicitadoPor2, (SelectList)ViewBag.Clientes, "Seleccionar Solicitante ", new { @class = "col-xs-12 form-control", @style = "height:30px;border-radius:4px" })
                                @Html.ValidationMessageFor(model => model.solicitadoPor2, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Creado Por", new { @class = "col-md-4 control-label required" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(m => m.creadoPor2, (SelectList)ViewBag.Desarrolladores, "Seleccionar Creador ", new { @class = "col-xs-12 form-control", @style = "height:30px;border-radius:4px" })
                                @Html.ValidationMessageFor(model => model.creadoPor2, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    //INFORMACION DEL CAMBIO
    <div class="panel panel-info" data-step=@ayudasActuales data-intro="Aquí se puede ver la información acerca de la solicitud, y se agrega un comentario explicando la razón de que se quiera aceptar o rechazar">
        @{ ayudasActuales++; }
        <div class="panel-heading"><label>Datos de la Solicitud de Cambio</label></div>
        <div class="panel-body">

            <div class="form-group">
                @Html.LabelFor(m => m.estado, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.estado, new { @class = "form-control", @disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
                    @Html.HiddenFor(m => m.estado)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.tipo, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.tipo, new { @class = "form-control", @disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.tipo, "", new { @class = "text-danger" })
                    @Html.HiddenFor(m => m.tipo)
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.solicitadoEn, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.solicitadoEn, new { @class = "form-control", @disabled="disabled" })
                    @Html.ValidationMessageFor(model => model.solicitadoEn, "", new { @class = "text-danger" })
                    @Html.HiddenFor(m => m.solicitadoEn)
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(m => m.solicitadoPor, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.solicitadoPor, new { @class = "form-control", @disabled="disabled" })
                    @Html.ValidationMessageFor(model => model.solicitadoPor, "", new { @class = "text-danger" })
                    @Html.HiddenFor(m => m.solicitadoPor)
                </div>
            </div>
            
             <div class="form-group">
                @Html.LabelFor(m => m.razon, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextAreaFor(m => m.razon, new { @class = "form-control", @disabled="disabled" })
                    @Html.ValidationMessageFor(model => model.razon, "", new { @class = "text-danger" })
                    @Html.HiddenFor(m => m.razon)
                </div>
            </div>

            @if (Model.estado != "En revisión")
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.comentario, new { @class = "col-md-2 control-label required" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.comentario, new { @class = "form-control", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.comentario, "", new { @class = "text-danger" })
                        @Html.HiddenFor(m => m.comentario)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.aprobadoEn, new { @class = "col-md-2 control-label required" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.aprobadoEn, new { @class = "form-control", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.aprobadoEn, "", new { @class = "text-danger" })
                        @Html.HiddenFor(m => m.aprobadoEn)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.aprobadoPor, new { @class = "col-md-2 control-label required" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.aprobadoPor, new { @class = "form-control", @disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.aprobadoPor, "", new { @class = "text-danger" })
                        @Html.HiddenFor(m => m.aprobadoPor)
                    </div>
                </div>
            }
            else
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.comentario, new { @class = "col-md-2 control-label required" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.comentario, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.comentario, "", new { @class = "text-danger" })
                        @Html.HiddenFor(m => m.comentario)
                    </div>
                </div>
            }
        </div>
    </div>


    <style type="text/css">
        .required:after {
            content: "*";
            font-weight: bold;
            color: red;
        }
    </style>
    <script>
        window.onload = function () {
            @if (Model.tipo == "Eliminar")
            {
                @Html.Raw("$('.col-md-4').addClass('col-md-2').removeClass('col-md-4');")
            }
            @if (Model.estado != "En revisión")
            {
                @Html.Raw("$('.form-control').attr('disabled',true);")
                @Html.Raw("$('#list3').attr('disabled',true);")
            }
            $('#list2').multiSelect();
            $('#list3').multiSelect();
            $('.datePicker').datepicker();
            load_all();
            $('#imageInput').change(function () {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('.myImageContainer').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(this.files[0]);
                }
            });
        };
    </script>

    if (Model.estado == "En revisión")
    {
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-success" name="comando" value="Aprobar" data-step=@ayudasActuales data-intro="Si se desea aceptar la solicitud se puede hacer click aquí." data-position="left" />
                @{ ayudasActuales++; }
                <input type="submit" class="btn btn-danger" name="comando" value="Rechazar" data-step=@ayudasActuales data-intro="Si se desea rechazar la solicitud se puede hacer click aquí." data-position="left" />
                @{ ayudasActuales++; }
                <input type="button" class="btn btn-default" value="Cancelar" onclick="location.reload()" data-step=@ayudasActuales data-intro="Si se comete un error y se desea descartar los cambios hechos, se hace click aquí." data-position="right" />
                @{ ayudasActuales++; }
            </div>
        </div>
    }

}

    <style>
        @@media (min-width: 768px) {
            .modal-xl {
                width: 90%;
                max-width: 1200px;
                max-height: 90vh;
            }
        }
    </style>
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-body">
                    <center>
                        <img src="data:image/png;base64,@Html.DisplayFor(m => m.file1)" class="img-responsive" style="width:100%; height:auto">
                    </center>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal2" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-body">
                    <center>
                        <img src="data:image/png;base64,@Html.DisplayFor(m => m.file2)" class="img-responsive myImageContainer" style="width:100%; height:auto">
                    </center>
                </div>
            </div>
        </div>
    </div>
    <script>
        function centerModal() {
            $(this).css('display', 'block');
            var $dialog = $(this).find(".modal-dialog");
            var offset = ($(window).height() - $dialog.height()) / 2;
            // Center modal vertically in window
            $dialog.css("margin-top", offset);
        }
    </script>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
