@model ControldeCambios.Models.Solicitud_CambiosIndexModel
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Índice de Solicitud de Cambios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-step="1" data-intro="En esta pantalla se puede ver las solicitudes de cambios que ha hecho y sus estados.">
    <h2>Solicitud de Cambios</h2>
    <h4>@ViewBag.Title</h4>
</div>
<hr />

@{bool primero = true; }

@if (Model.indexSolicitudInfoList.Count() > 0)
{
<table class="table">
    <tr>
        <th>
            Código
        </th>
        <th>
            Nombre
        </th>
        <th>
            Prioridad
        </th>
        <th>
            Estado de Solicitud
        </th>
        <th>
            Tipo de Solicitud
        </th>
        <th>
            Fecha de Solicitud
        </th>
        <th>
            Consultar
        </th>
    </tr>
    @foreach (var req in Model.indexSolicitudInfoList)
    {
        <tr id="@(req.id)">
            <td>
                @Html.DisplayFor(modelItem => req.codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => req.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => req.prioridad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => req.estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => req.tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => req.fecha)
            </td>
            <td>
                @if(primero) {
                @Html.ActionLink("Consultar", "Detalles", new
           {
               id = req.id
           },new { @data_step=2, @data_intro="Haciendo click aquí, se pueden ver los detalles de la solicitud de cambios" })
                    { primero = false; }
                } else
                {
                    @Html.ActionLink("Consultar", "Detalles", new
                    {
                        id = req.id
                    })
                }
            </td>
        </tr>
    }
</table>

<div data-step="3" data-intro="Haciendo click aquí se pueden ver más solicitudes de cambio">
    @Html.PagedListPager((IPagedList)ViewBag.OnePageOfReqs, page => Url.Action("Index", new { page, proyecto = Model.proyecto }))
    @Html.Raw("Página:")
    @if (ViewBag.OnePageOfReqs.PageCount < ViewBag.OnePageOfReqs.PageNumber)
    {
    @Html.Raw("0")
    }
    else
    {
    @ViewBag.OnePageOfReqs.PageNumber
    }
    @Html.Raw(" de ")
    @ViewBag.OnePageOfReqs.PageCount
</div>
}
else
{
<div class="row text-center">
    <label>No hay Solicitudes de Cambios</label>
</div>
}