@model ControldeCambios.Models.Solicitud_CambiosIndexModel
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Índice de Solicitud de Cambios por Aprobar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Solicitud de Cambios por Aprobar</h2>
<h4>@ViewBag.Title</h4>
<hr />

@if (Model.indexSolicitudInfoList.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                Código
            </th>
            <th>
                Nombre
            </th>
            <th>
                Prioridad
            </th>
            <th>
                Solicitado Por
            </th>
            <th>
                Estado de Solicitud
            </th>
            <th>
                Fecha de Solicitud
            </th>
            <th>
                Consultar
            </th>
        </tr>
        @foreach (var req in Model.indexSolicitudInfoList)
        {
            <tr id="@(req.id)">
                <td>
                    @Html.DisplayFor(modelItem => req.codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => req.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => req.prioridad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => req.solicitadoPor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => req.estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => req.fecha)
                </td>
                <td>
                    @Html.ActionLink("Consultar", "Aprobar", "Solicitud_Cambios", new
               {
                   id = req.id
               }, new { })
                </td>
            </tr>
        }
    </table>

    @Html.PagedListPager((IPagedList)ViewBag.OnePageOfReqs, page => Url.Action("Index", new { page, proyecto = Model.proyecto }))
    @Html.Raw("Página:")
    if (ViewBag.OnePageOfReqs.PageCount < ViewBag.OnePageOfReqs.PageNumber)
    {
        @Html.Raw("0")
    }
    else
    {
        @ViewBag.OnePageOfReqs.PageNumber
    }
    @Html.Raw(" de ")
    @ViewBag.OnePageOfReqs.PageCount
}
else
{
    <div class="row text-center">
        <label>No hay Solicitudes por aprobar</label>
    </div>
}

