@model ControldeCambios.Models.RequerimientosModelo
@{
    ViewBag.Title = "Crear Requerimiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gestión de Requerimientos</h2>
<h4>@ViewBag.Title</h4>
<hr />
@using (Html.BeginForm("Crear", "Requerimientos", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

     <div class="form-group">
        @Html.LabelFor(m => m.codigo, new { @class = "col-md-2 control-label required" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.codigo, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.codigo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.nombre, new { @class = "col-md-2 control-label required" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.nombre, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.descripcion, new { @class = "col-md-2 control-label required" })
        <div class="col-md-10">
            @Html.TextArea("Descripcion", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Solicitado Por", new { @class = "col-md-2 control-label required" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.solicitadoPor, (SelectList)ViewBag.Desarrolladores, "Seleccionar Solicitante ", new { @class = "col-xs-12 form-control", @style = "height:30px;border-radius:4px" })
            @Html.ValidationMessageFor(model => model.solicitadoPor, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Módulo", new { @class = "col-md-2 control-label required" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.modulo, (SelectList)ViewBag.Modulo, "Seleccionar Módulo ", new { @class = "col-xs-12 form-control", @style = "height:30px;border-radius:4px" })
            @Html.ValidationMessageFor(model => model.modulo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.prioridad, new { @class = "col-md-2 control-label required" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.prioridad, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.prioridad, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.esfuerzo, new { @class = "col-md-2 control-label required" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.esfuerzo, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.esfuerzo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.fechaInicial, new { @class = "col-md-2 control-label required" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.fechaInicial, new { @class = "form-control datePicker" })
            @Html.ValidationMessageFor(model => model.fechaInicial, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.fechaFinal, new { @class = "col-md-2 control-label required" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.fechaFinal, new { @class = "form-control datePicker" })
            @Html.ValidationMessageFor(model => model.fechaFinal, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Estado", new { @class = "col-md-2 control-label required" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.estado, (SelectList)ViewBag.EstadoRequerimiento, "Seleccionar Estado ", new { @class = "col-xs-12 form-control", @style = "height:30px;border-radius:4px" })
            @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.observaciones, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextArea("Observaciones", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.observaciones, "", new { @class = "text-danger" })
        </div>
    </div>

    //IMAGEN

    //CRITERIOS DE ACEPTACION

    //EQUIPO ASIGNADO
    <div class="form-group">
        @Html.Label("Disponibles", new { @class = "col-md-offset-2 col-md-2 control-label", @style = "text-align:center;margin-left:195px;" })
        @Html.Label("Equipo", new { @class = "col-md-offset-2  col-md-2 control-label required", @style = "text-align:center;margin-left:10px;margin-bottom:10px" })
        <div class="col-md-offset-2 col-md-10" style="margin-bottom:25px">
            @Html.ListBoxFor(m => m.equipo, new MultiSelectList(ViewBag.DesarrolladoresDisp, "cedula", "nombre"), new { id = "list2", Multiple = "multiple", Size = 15, style = "width: 100%;" })
            @Html.ValidationMessageFor(model => model.equipo, "", new { @class = "text-danger" })
        </div>
    </div>

    <style type="text/css">
        .required:after {
            content: "*";
            font-weight: bold;
            color: red;
        }
    </style>
    <script>
        window.onload = function() {
            $('#list2').multiSelect();
            $('.datePicker').datepicker();
        };
    </script>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}