@model ControldeCambios.Models.RequerimientosModelo
@{
    ViewBag.Title = "Consultar Detalles de Requerimientos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function habilitarCampos() {
        $('.editBtns').show();
        $('.editFields').attr("disabled", false);
        $('#subtitle').html("Modificar Requerimiento");
    }
</script>

<h2>Gestión de Requerimiento</h2>
<h4>@ViewBag.Title</h4>
<hr />
@if (Model.modificarRequerimiento)
{
    <button type="button" class="btn btn-primary" onClick="habilitarCampos()">Modificar</button>
}
@if (Model.eliminarRequerimiento)
{
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmModal">Eliminar</button>
}
@using (Html.BeginForm("Detalles", "Requerimientos", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.id)
    <div class="form-group">
        <label class="control-label col-md-2 required">Código:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.codigo, new { htmlAttributes = new { @class = "form-control editFields", @disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.codigo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 required">Nombre:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control editFields", @disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 required">Versión:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.version, new { htmlAttributes = new { @class = "form-control editFields", @disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.version, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 required">Descripcion:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control editFields", @disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 required">Solicitado Por:</label>
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.solicitadoPor, (SelectList)ViewBag.clientes, new { @class = "col-xs-12 editFields", @disabled = "disabled", @style = "height:30px;border-radius:4px" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 required">Prioridad:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.prioridad, new { htmlAttributes = new { @class = "form-control editFields", @disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.prioridad, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 required">Esfuerzo:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.esfuerzo, new { htmlAttributes = new { @class = "form-control editFields", @disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.esfuerzo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 required">Fecha Inicial:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.fechaInicial, new { htmlAttributes = new { @class = "form-control editFields", @disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.fechaInicial, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 required">Fecha Final:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.fechaFinal, new { htmlAttributes = new { @class = "form-control editFields", @disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.fechaFinal, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 required">Estado:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.estado, new { htmlAttributes = new { @class = "form-control editFields", @disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2 required">Observaciones:</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.observaciones, new { htmlAttributes = new { @class = "form-control editFields", @disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.observaciones, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.criteriosAceptacion, new { @class = "col-md-2 control-label" })
        @Html.HiddenFor(m => m.criteriosAceptacion, new { @id = "output" })
        <div class="col-md-offset-2 col-md-10" style="margin-bottom:25px">
            <button type="button" onclick="add_textbox()" class="btn editBtns" style="border-radius:4px;display:none"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Nuevo Criterio de Aceptación</button>
            <br />
            <br />

            <div id="textboxes">
                <div class='row'><div id='textbox0'><div class='col-md-4'><textarea class='multitextbox form-control multitextbox0' oninput=update_output() cols='30' rows='2' style='border-radius:4px'></textarea></div> <div class='col-md-1'></div> <br /> <br /> <br />  </div></div>
            </div>
        </div>
        @Html.ValidationMessageFor(m => m.criteriosAceptacion, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.Label("Disponibles", new { @class = "col-md-offset-2 col-md-2 control-label", @style = "text-align:center;margin-left:195px;" })
        @Html.Label("Equipo", new { @class = "col-md-offset-2  col-md-2 control-label required", @style = "text-align:center;margin-left:10px;margin-bottom:10px" })
        <div class="col-md-offset-2 col-md-10" style="margin-bottom:25px">
            @Html.ListBoxFor(m => m.equipo, new MultiSelectList(ViewBag.DesarrolladoresDisp, "cedula", "nombre"), new { id = "list2", Multiple = "multiple", Size = 15, style = "width: 100%;", @disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.equipo, "", new { @class = "text-danger" })
        </div>
    </div>

    <script>
        window.onload = function() {
            $('#list2').multiSelect();
            $('.datePicker').datepicker();
        };
    </script>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

}
