@model ControldeCambios.Models.RequerimientosIndexModel
@using Chart.Mvc.ComplexChart;
@using Chart.Mvc.Extensions;

@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.1.1/Chart.js"></script>

<h2>index</h2>

<h1>
    @Html.DisplayFor(m => m.titulo)
</h1>

@Html.DisplayFor(m => m.descripcion)
<div class="row">
    <div class="col-md-6">
        @Html.LabelFor(m => m.lider)
        @Html.DisplayFor(m => m.lider)
    </div>
    <div class="col-md-6">
        @Html.LabelFor(m => m.cliente)
        @Html.DisplayFor(m => m.cliente)
    </div>
</div>

@{
    var lineChart = new LineChart();
    lineChart.ComplexData.Labels.AddRange(ViewBag.dias);
    lineChart.ComplexData.Datasets.AddRange(new List<ComplexDataset>
                           {
                              new ComplexDataset
                                  {
                                      Data = new List<double> { 65, 59, 80, 81, 56, 55, 40 },
                                      Label = "My First dataset",
                                      FillColor = "rgba(220,220,220,0.2)",
                                      StrokeColor = "rgba(220,220,220,1)",
                                      PointColor = "rgba(220,220,220,1)",
                                      PointStrokeColor = "#fff",
                                      PointHighlightFill = "#fff",
                                      PointHighlightStroke = "rgba(220,220,220,1)",
                                  },
                              new ComplexDataset
                                  {
                                      Data = new List<double> { 28, 48, 40, 19, 86, 27, 90 },
                                      Label = "My Second dataset",
                                      FillColor = "rgba(151,187,205,0.2)",
                                      StrokeColor = "rgba(151,187,205,1)",
                                      PointColor = "rgba(151,187,205,1)",
                                      PointStrokeColor = "#fff",
                                      PointHighlightFill = "#fff",
                                      PointHighlightStroke = "rgba(151,187,205,1)",
                                  }
                          });
}

<canvas id="myCanvas" width="800" height="400"></canvas>
@Html.CreateChart("myCanvas", lineChart)

<table class="table">
    <tr>
        <th>
            Titulo
        </th>
        <th>
            Reponsable
        </th>
        <th>
            Valor
        </th>
        <th>
            Completado
        </th>
        <th>
            Consultar
        </th>
    </tr>
    @foreach (var req in Model.reqs)
    {
        <tr id="@(req.codigo)">
            <td>
                @Html.DisplayFor(modelItem =>
req.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem =>
req.creadoPor)
            </td>
            <td>
                @Html.DisplayFor(modelItem =>
req.esfuerzo)
            </td>
            <td>
                @Html.DisplayFor(modelItem =>
req.estado)
            </td>
                <td>

                    @Html.ActionLink("Consultar", "Detalles", new
           {
               id = req.codigo
           })
                </td>
        </tr>
    }
</table>


