@model ControldeCambios.Models.RequerimientosIndexModel
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Product Backlog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gestión de Proyecto</h2>
<h4>@ViewBag.Title</h4>
<hr />
@if (Model.crearRequerimientos)
{
    <p>
        @Html.ActionLink("Crear Requerimiento", "Crear", new { proyecto = Model.proyecto}, new { @class = "btn btn-primary" })
    </p>
}

@if (Model.reqs.Count() > 0)
{
<table class="table">
    <tr>
        <th>
            Código
        </th>
        <th>
            Nombre
        </th>
        <th>
            Prioridad
        </th>
        <th>
            Esfuerzo
        </th>
        <th>
            Estado
        </th>
        @if (Model.detallesRequerimientos)
        {
            <th>
                Consultar
            </th>
        }
    </tr>
    @foreach (var req in Model.reqs)
    {
        <tr id="@(req.id)">
            <td>
                @Html.DisplayFor(modelItem =>
req.codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem =>
req.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem =>
req.prioridad)
            </td>
            <td>
                @Html.DisplayFor(modelItem =>
req.esfuerzo)
            </td>
            <td>
                @Html.DisplayFor(modelItem =>
req.estado)
            </td>
            @if (Model.detallesRequerimientos)
            {
                <td>

                    @Html.ActionLink("Consultar", "Detalles", new
               {
                   id = req.id
               })
                </td>
            }
        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)ViewBag.OnePageOfReqs, page => Url.Action("Index", new { page, proyecto = Model.proyecto }))
@Html.Raw("Página:")
if (ViewBag.OnePageOfReqs.PageCount < ViewBag.OnePageOfReqs.PageNumber)
{
    @Html.Raw("0")
}
else
{
    @ViewBag.OnePageOfReqs.PageNumber
}
@Html.Raw(" de ")
@ViewBag.OnePageOfReqs.PageCount
}
else
{
    <div class="row text-center">
        <label>No hay Requerimientos</label>
    </div>
}