@model ControldeCambios.Models.Roles_Permisos

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Index</h2>
@using (Html.BeginForm())
{
<table class="table">
    <tr>
        <th>
            Permisos
        </th>
        @for (int i = 0; i < Model.roles.Count; i++)
        {
            <th id="@(Model.roles.ElementAt(i).Id)">
                @Html.DisplayFor(modelItem =>
Model.roles.ElementAt(i).Name)
            </th>
        }
    </tr>

    @Html.AntiForgeryToken()
    @for (int i = 0; i < Model.permisos.Count; i++)
    {
        <tr>
            <th id="@(Model.permisos.ElementAt(i).codigo)">
                @Html.DisplayFor(modelItem =>
Model.permisos.ElementAt(i).nombre)
            </th>
            @for (int j = 0; j < Model.roles.Count; j++)
            {
                <th id="@(Model.permisos.ElementAt(i).codigo)_/_@(Model.roles.ElementAt(j).Id)">

                        @Html.HiddenFor(m => m.rolPermisoId[i + Model.permisos.Count * j].permiso)
                        @Html.HiddenFor(m => m.rolPermisoId[i + Model.permisos.Count * j].rol)
                        @Html.CheckBoxFor(m => m.rolPermisoId[i + Model.permisos.Count * j].valor)
                        

                </th>
            }
        </tr>
    }
</table>
<div>
    <input type="submit" class="btn btn-success" value="Guardar Cambios"/>
    <a href="@Url.Action("Index", "Home")" type="button" class="btn btn-default">Cancelar</a>
</div>
}