@model ControldeCambios.Models.Roles_Permisos

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div data-step="1" data-intro="Esta pantalla permite configurar los permisos individuales de cada rol con respecto al sistema">
    <h2>Gestión de Roles</h2>
    <h4>Administrar Permisos</h4>
</div>
<hr/>
@using (Html.BeginForm())
{
<table class="table">
    <tr data-step="2" data-intro="Cada uno de estos roles son los que se pueden asignar a un usuario del sistema">
        <th>
            Permisos
        </th>
        @for (int i = 0; i < Model.roles.Count; i++)
        {
            <th id="@(Model.roles.ElementAt(i).Id)">
                @Html.DisplayFor(modelItem =>
Model.roles.ElementAt(i).Name)
            </th>
        }
    </tr>
    @Html.AntiForgeryToken()
    @for (int i = 0; i < Model.permisos.Count; i++)
    {
        <tr>
            <th id="@(Model.permisos.ElementAt(i).codigo)">
                @Html.DisplayFor(modelItem =>
Model.permisos.ElementAt(i).nombre)
            </th>
            @for (int j = 0; j < Model.roles.Count; j++)
            {
                <th id="@(Model.permisos.ElementAt(i).codigo)_/_@(Model.roles.ElementAt(j).Id)">

                        @Html.HiddenFor(m => m.rolPermisoId[i + Model.permisos.Count * j].permiso)
                        @Html.HiddenFor(m => m.rolPermisoId[i + Model.permisos.Count * j].rol)
                    @if(i == 0 && j == 0) {
                        @Html.CheckBoxFor(m => m.rolPermisoId[i + Model.permisos.Count * j].valor, new {
                        @data_step ="2",
                        @data_intro ="Si esta caja está seleccionada, el permiso se da para un usuario dado."})
                    }
                    else
                    {
                        @Html.CheckBoxFor(m => m.rolPermisoId[i + Model.permisos.Count * j].valor)
                    }
                </th>
            }
        </tr>
    }
</table>
<div>
    <input type="submit" class="btn btn-success" value="Aceptar" data-step="3" data-intro="Si se quieren guardar los cambios, se hace click en este botón." data-position="left"/>
    <button type="button" class="btn btn-default" onclick="location.reload()" data-step="4" data-intro="Si se cometió algún error o no se quiere guardar los cambios, se hace click en este botón." data-position="right">Cancelar</button>
</div>
}