@model ControldeCambios.Models.ProyectosModelo
@{
    ViewBag.Title = "Gestión de Proyectos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PagedList.Mvc;
@using PagedList;

<h2>@ViewBag.Title</h2>
<h4>Lista de Proyectos</h4>
<hr />

@if (Model.crearProyecto)
{
    <p>
        @Html.ActionLink("Crear Proyecto", "Crear", new { }, new { @class = "btn btn-primary" })
    </p>
}

@if (Model.indexProyectoInfoList.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Líder
            </th>
            <th>
                Cliente
            </th>
            <th>
                Estado
            </th>
            @if (Model.detallesProyecto)
            {
                <th>
                    Consultar
                </th>
                <th>
                    Detalles
                </th>
            }
        </tr>
        @foreach (var proyecto in Model.indexProyectoInfoList)
        {
            <tr id="@(proyecto.nombre)">
                <td>
                    @Html.DisplayFor(modelItem =>
proyecto.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem =>
proyecto.lider)
                </td>
                <td>
                    @Html.DisplayFor(modelItem =>
proyecto.cliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem =>
proyecto.estado)
                </td>
                @if (Model.detallesProyecto)
                {
                    <td>

                        @Html.ActionLink("Consultar", "Detalles", new
                   {
                       id =
  proyecto.nombre
                   })
                    </td>
                    <td>

                        @Html.ActionLink("Ver Detalles", "Informacion", new
                   {
                       id =
  proyecto.nombre
                   })
                    </td>
                }
            </tr>
        }
    </table>
    @Html.PagedListPager((IPagedList)ViewBag.OnePageOfProyectos, page => Url.Action("Index", new { page }))
    @Html.Raw("Página:")
    if (ViewBag.OnePageOfProyectos.PageCount < ViewBag.OnePageOfProyectos.PageNumber)
    {
        @Html.Raw("0")
    }
    else
    {
        @ViewBag.OnePageOfProyectos.PageNumber
    }
    @Html.Raw(" de ")
    @ViewBag.OnePageOfProyectos.PageCount
} else {
    <div class="row text-center">
        <label>No hay Proyectos</label>
    </div>
}