@model ControldeCambios.Models.ProyectoInfoModel
@{
    ViewBag.Title = "Detalles de Proyecto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PagedList.Mvc;
@using PagedList;

<div data-step="1" data-intro="En estra pantalla podemos ver los detalles del proyecto, de cada módulo, sprint e ir al product backlog.">
    <h2>Gestión de Proyectos</h2>
    <h4>@ViewBag.Title</h4>
</div>
<hr />

@{ int ayudasActuales = 3; }

<div class="row panel panel-info" data-step="2" data-intro="Aquí se puede ver la información básica del proyecto">
    <div class="panel-heading" ><label>Información de Proyecto</label></div>
    <div class="panel-body">
        <div class="col-xs-12 col-sm-6">
            <div class="col-xs-4">
                @Html.Label("Nombre", new { @class = "control-label" })
            </div>
            <div class="col-xs-8">
                @Html.DisplayFor(m => m.proyecto.nombre)
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="col-xs-4">
                @Html.Label("Descripción", new { @class = "control-label" })
            </div>
            <div class="col-xs-8">
                @Html.DisplayFor(m => m.proyecto.descripcion)
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="col-xs-4">
                @Html.Label("Líder", new { @class = "control-label" })
            </div>
            <div class="col-xs-8">
                @Html.DisplayFor(m => m.proyectoLider)
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="col-xs-4">
                @Html.Label("Cliente", new { @class = "control-label" })
            </div>
            <div class="col-xs-8">
                @Html.DisplayFor(m => m.proyectoCliente)
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="col-xs-4">
                @Html.Label("Fecha de Inicio", new { @class = "control-label" })
            </div>
            <div class="col-xs-8">
                @Html.DisplayFor(m => m.proyectoFechaInicio)
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="col-xs-4">
                @Html.Label("Fecha Final", new { @class = "control-label" })
            </div>
            <div class="col-xs-8">
                @Html.DisplayFor(m => m.proyectoFechaFinal)
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="col-xs-4">
                @Html.Label("Duración", new { @class = "control-label" })
            </div>
            <div class="col-xs-8">
                @Html.DisplayFor(m => m.proyecto.duracion) Días
            </div>
        </div>
    </div>
</div>

<div class="row panel panel-info">
    <div class="panel-heading"><label>Lista de Requerimientos</label></div>
    <div class="panel-body">
        <div class="col-xs-12 col-sm-6">
            @if (Model.crearRequerimientos)
            {
                <p>
                    @Html.ActionLink("Crear Requerimiento", "Crear", "Requerimientos", new { proyecto = Model.proyecto.nombre }, new { @class = "btn btn-primary", @data_step = ayudasActuales, @data_intro="Haciendo click aquí se puede crear un requerimiento nuevo para el proyecto" })
                    @{ ayudasActuales++; }
                </p>
            }
            <p>
                @Html.ActionLink("Ver Product Backlog", "Index", "Requerimientos", new { proyecto = Model.proyecto.nombre }, new { @class = "btn btn-info", @data_step = ayudasActuales, @data_intro = "Haciendo click aquí se puede revisar el product backlog" })
                @{ ayudasActuales++; }
            </p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <p>
                @Html.ActionLink("Mis solicitudes de cambios", "Index", "Solicitud_Cambios", new { proyecto = Model.proyecto.nombre }, new { @class = "btn btn-info", @data_step = ayudasActuales++, @data_intro = "Con este botón se puede ver el las solicitudes de cambio que se han creado, para ver si fueron aceptadas o rechazadas." })
            </p>
        </div>
        @if (ViewBag.permiso)
        {
        <div class="col-xs-12 col-sm-6">
            <p>
                @Html.ActionLink("Solicitudes por aprobar", "IndexAprobacion", "Solicitud_Cambios", new { proyecto = Model.proyecto.nombre }, new { @class = "btn btn-warning", @data_step=ayudasActuales++, @data_intro = "Si se hace click aquí se puede ver las solicitudes que aún no ha sido aprobadas." })
            </p>
        </div>
        }
    </div>
</div>

<div class="row panel panel-info">
    <div class="panel-heading"><label>Lista de Módulos</label></div>
    <div class="panel-body">
        @if (Model.crearModulos)
        {
            <p>
                @Html.ActionLink("Crear Módulo", "Crear", "Modulos", new { proyecto = Model.proyecto.nombre }, new { @class = "btn btn-primary", @data_step=ayudasActuales++, @data_intro="Después de crear requerimientos, haciendo click aquí se puede crear un módulo" })
            </p>
        }
        @if (Model.indexModuloInfoList.Count() > 0)
        {
            <table class="table">
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Requerimientos
                    </th>
                    <th>
                        Esfuerzo
                    </th>
                    @if (Model.detallesModulos)
                {
                        <th>
                            Consultar
                        </th>
                    }
                </tr>
                @{ bool first = true; }
                @foreach (var modulo in Model.indexModuloInfoList)
                {
                    <tr id="@(modulo.numero)">
                        <td>
                            @Html.DisplayFor(modelItem =>
modulo.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem =>
modulo.requerimientos)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem =>
modulo.puntaje)
                        </td>
                        @if (Model.detallesModulos)
                    {
                            <td>
                                @if(first) { 
                                @Html.ActionLink("Consultar", "Detalles", "Modulos", new
                           {
                               numero =
     modulo.numero,
                               proyecto = Model.proyecto.nombre
                           }, new {@data_step=ayudasActuales++, @data_intro="Haciendo click aquí se puede consultar los detalles o modiciar cada módulo" })
                                { first = false; }
                                }
                                else
                                {
                                    @Html.ActionLink("Consultar", "Detalles", "Modulos", new
                               {
                                   numero =
     modulo.numero,
                                   proyecto = Model.proyecto.nombre
                               }, new { })
                                }
                            </td>
                        }
                    </tr>
                }
            </table>
            @Html.PagedListPager((IPagedList)ViewBag.OnePageOfModulos, page => Url.Action("Index", new { sprintPage = Request.Params["sprintPage"], moduloPage = page }))
            @Html.Raw("Página:")
            if (ViewBag.OnePageOfModulos.PageCount < ViewBag.OnePageOfModulos.PageNumber)
            {
                @Html.Raw("0")
            }
            else
            {
                @ViewBag.OnePageOfModulos.PageNumber
            }
            @Html.Raw(" de ")
            @ViewBag.OnePageOfModulos.PageCount
        }
        else
        {
            <div class="row text-center">
                <label>No hay Módulos</label>
            </div>
        }
    </div>
</div>


<div class="row panel panel-info">
    <div class="panel-heading"><label>Lista de Sprints</label></div>
    <div class="panel-body">
        @if (Model.crearSprints)
        {
            <p>
                @Html.ActionLink("Crear Sprint", "Crear", "Sprint", new { proyecto = Model.proyecto.nombre }, new { @class = "btn btn-primary", @data_step=ayudasActuales++, @data_intro="Después de crear requerimientos y módulos, se puede crear un sprint." })
            </p>
        }
        @if (Model.indexSprintInfoList.Count() > 0)
        {
            <table class="table">
                <tr>
                    <th>
                        Número
                    </th>
                    <th>
                        Fecha Inicio
                    </th>
                    <th>
                        Fecha Final
                    </th>
                    <th>
                        Módulos
                    </th>
                    <th>
                        Esfuerzo
                    </th>
                    @if (Model.detallesSprints)
                {
                        <th>
                            Consultar
                        </th>
                        <th>
                            Detalles
                        </th>
                    }
                </tr>
                @{ bool first = true; }
                @foreach (var sprint in Model.indexSprintInfoList)
                {
                    <tr id="@(sprint.numero)">
                        <td>
                            @Html.DisplayFor(modelItem =>
    sprint.numero)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem =>
    sprint.fechaInicio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem =>
    sprint.fechaFinal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem =>
    sprint.modulos)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem =>
    sprint.puntaje)
                        </td>
                        @if (Model.detallesSprints)
                    {
                            <td>
                                @if(first) { 
                                @Html.ActionLink("Consultar", "Detalles", "Sprint", new
                           {
                               sprint = sprint.numero,
                               proyecto = Model.proyecto.nombre
                           }, new { @data_step=ayudasActuales++, @data_intro="Haciendo click aquí, se puede modificar y consultar detalles del sprint" })
                                }
                                else
                                {
                                    @Html.ActionLink("Consultar", "Detalles", "Sprint", new
                                        {
                                            sprint = sprint.numero,
                                            proyecto = Model.proyecto.nombre
                                        }, new { })
                                }
                            </td>
                            <td>
                                @if (first) {
                                @Html.ActionLink("Ver Detalles", "Informacion", "Sprint", new
                           { sprint = sprint.numero, proyecto = Model.proyecto.nombre
                           }, new { @data_step=ayudasActuales++, @data_intro="Haciendo click aquí, se puede ver detalles y estadísticas del sprint" })
                                    { first = false; }
                                }
                                else
                                {
                                    @Html.ActionLink("Ver Detalles", "Informacion", "Sprint", new
                                        {
                                            sprint =sprint.numero,
                                            proyecto = Model.proyecto.nombre
                                        }, new { })
                                }
                            </td>
                        }
                    </tr>
                }
            </table>
            @Html.PagedListPager((IPagedList)ViewBag.OnePageOfSprints, page => Url.Action("Index", new { sprintPage = page, moduloPage = Request.Params["moduloPage"] }))
            @Html.Raw("Página:")
            if (ViewBag.OnePageOfSprints.PageCount < ViewBag.OnePageOfSprints.PageNumber)
            {
                @Html.Raw("0")
            }
            else
            {
                @ViewBag.OnePageOfSprints.PageNumber
            }
            @Html.Raw(" de ")
            @ViewBag.OnePageOfSprints.PageCount
        }
        else
        {
            <div class="row text-center">
                <label>No hay Sprints</label>
            </div>
        }
    </div>
</div>


