@model ControldeCambios.Models.SprintModelo
@{
    ViewBag.Title = "Consultar Sprint";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-step="1" data-intro="En esta pantalla podemos consultar sprints creados" class="datastep1">
    <h2>Gestión de Proyectos</h2>
    <h4 id="subtitle">@ViewBag.Title</h4>
</div>
<hr />

<button type="button" class="btn btn-primary" onClick="habilitarCampos()" div data-step="2" data-intro="El botón modificar habilita los campos para hacer cambios al sprint">Modificar</button>
@if (Model.modulos.Count == 0)
{
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmModal">Eliminar</button>
}
else
{
    <a href="#" data-toggle="tooltip" title="No se puede eliminar este sprint porque tiene modulos asociados" data-placement="right">
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmModal" disabled="disabled" div data-step="3" data-intro="El botón elimina el sprint si es permitido">Eliminar</button>
    </a>
}

@using (Html.BeginForm("Detalles", "Sprint", FormMethod.Post, new { @class = "form-horizontal editFields", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div data-step="4" data-intro="Aqui se muestran los datos del sprint que se consulta" class="camposdiv">

        <div class="form-group">
            @Html.LabelFor(m => m.proyecto, new { @class = "col-md-2 control-label required" })
            <div class="col-md-10">
                @Html.DisplayFor(m => m.proyecto, new { @class = "form-control editFields", @disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.proyecto, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.proyecto)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.numero, new { @class = "col-md-2 control-label required" })
            <div class="col-md-10">
                @Html.DisplayFor(m => m.numero, new { @class = "form-control editFields", @disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.numero, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.numero)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(m => m.fechaInicio, new { @class = "col-md-2 control-label required" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.fechaInicio, new { @class = "form-control datePicker editFields", @disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.fechaInicio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.fechaFinal, new { @class = "col-md-2 control-label required" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.fechaFinal, new { @class = "form-control datePicker editFields", @disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.fechaFinal, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group" class="datastepmod">
            @Html.Label("Modulos", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.ListBoxFor(m => m.modulos, (MultiSelectList)ViewBag.listamodulos, new { id = "list2", Multiple = "multiple", Size = 15, style = "width: 100%;", @class = "editFields", @disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.modulos, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>

        <div class="form-group editBtns" style="display:none">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-success botonaceptar" value="Aceptar" />
                <input type="button" class="btn btn-default botoncancelar" value="Cancelar" onclick="location.reload()" />
            </div>
        </div>
        }

        <!-- Modal -->
        <div class="modal fade" id="confirmModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:#d61d1d;color:#FFFFFF">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Eliminar Sprint</h4>
                    </div>
                    <div class="modal-body" style="padding-bottom:0px">
                        <p>Seguro que deseas eliminar a @(Model.numero)?</p>
                        <p style="color:red"><sub>*Esta acción es irreversible</sub></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        @using (Html.BeginForm("Borrar", "Sprint", FormMethod.Post, new { @class = "form-horizontal", role = "form", style = "display:inline;padding-left:5px;" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.proyecto)
                            @Html.HiddenFor(m => m.numero)
                            @Html.HiddenFor(m => m.fechaInicio)
                            @Html.HiddenFor(m => m.fechaFinal)
                            @Html.HiddenFor(m => m.modulos)
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        }
                    </div>
                </div>
            </div>
        </div>

        <style type="text/css">
            .required:after {
                content: "*";
                font-weight: bold;
                color: red;
            }
        </style>
        <script>
            window.onload = function () {
                $('#list2').multiSelect();
                $('[data-toggle="tooltip"]').tooltip();
            };
        </script>

<script>
    function habilitarCampos() {
        $('.editBtns').show();
        $('.editFields').attr("disabled", false);
        $('.ms-elem-selectable').removeClass('disabled');
        $('.ms-elem-selection').removeClass('disabled');
        $('#subtitle').html("Modificar Sprint");
        cambiarIntro();
    }

    function cambiarIntro() {
        $('.datastep1').attr("data-intro", "En esta pantalla se pueden modificar los datos del sprint");
        $('.camposdiv').attr("data-intro", "Aquí se puede llenar la información del sprint");
        $('.datastepmod').attr("data-intro", "Aquí se puede modificar los módulos asociados al sprint, haciendo click en cualquiera de los dos lados para asignar y desasignarlos")
        $('.datastepmod').attr("data-step", 5);
        $('.datastepmod').attr("data-position", "right")
        $('.botonaceptar').attr("data-step", 6);
        $('.botonaceptar').attr("data-intro", "Haciendo click aquí se pueden guardar los cambios.")
        $('.botonaceptar').attr("data-position", "left")
        $('.botoncancelar').attr("data-step", 7);
        $('.botoncancelar').attr("data-intro", "Se se cometió algún error y no se quieren guardar los cambios, haciendo click aquí se pueden deshacer.")
        $('.botoncancelar').attr("data-position", "right")
    }
</script>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
